<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!-- 控制台输出 INFO 及以上 -->
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

    <!-- Commons CSV 内部日志调成 WARN，避免刷屏 -->
    <logger name="org.apache.commons" level="WARN"/>
</configuration>
